html,
body {
	height: 100vh;
	background-color: white;
	overflow: auto;
}

.App {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-bar h1 {
	color: white;
	font-size: clamp(2rem, 2vw, 2vh);
}

.top-bar {
	background-color: black;
	display: flex;
	justify-content: center;
	position: sticky;
}

.streambar {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
	height: 40px;
	position: sticky;
}

.stream h1 {
	padding-top: clamp(0.1rem, 0.3vw, 0.3vh);
	font-size: clamp(0.75rem, 2vw, 2vh);
	padding-left: clamp(0.5rem, 2vw, 2vh);
}

.stream img {
	height: clamp(1rem, 2vw, 2vh);
	width: clamp(1rem, 2vw, 2vh);
}

.streambtn {
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
	display: flex;
	flex-direction: row;
	flex-grow: 4;
	margin-right: 10px;
}

.stream-component,
.streambar,
.stream,
.top-bar,
.player {
	width: 100%;
}

.text {
	display: flex;
	align-items: center;
}

.text p {
	padding-top: clamp(0.75rem, 2vw, 2vh);
	padding-left: 15px;
}

.live-text {
	font-size: clamp(0.75rem, 2vw, 2vh);
}

.episodes {
}

.episodestogglebtn {
	justify-content: center;
	height: 100px;
	width: 100px;
}

.episodeContainer {
	height: 100vh;
}

.play {
	width: 5px;
	height: 5px;
	border-top: 13px solid transparent;
	border-left: 17px solid black;
	border-bottom: 13px solid transparent;
	padding-right: 10px;
}

.title {
	margin: 0;
	color: black;
}

/* Button glow */
.player {
	display: flex;
	align-items: center;
	border: black;
	height: 30px;
	flex-grow: 4;
	border: none;
	outline: none;
	color: #fff;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.episodestogglebtn:before,
.player:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.episodestogglebtn:active,
.player:active {
	color: #000;
}

.episodestogglebtn:active:after,
.player:active:after {
	background: transparent;
}

.episodestogglebtn:hover:before,
.player:hover:before {
	opacity: 1;
}

.episodestogglebtn:after,
.player:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	left: 0;
	top: 0;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/* Red Dot Animation */
@keyframes up-right {
	0% {
		transform: scale(1);
		opacity: 0.25;
	}
	50% {
		transform: scale (1, 5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.25;
	}
}
.circle {
	margin-left: clamp(0.75rem, 2vw, 2vh);
	margin-right: clamp(0.75rem, 2vw, 2vh);
	border-radius: 50%;
	width: clamp(0.2rem, 1.3vw, 1.3vh);
	height: clamp(0.2rem, 1.3vw, 1.3vh);
	opacity: 0.25;
}
.red {
	background-color: red;
	-webkit-animation: up-right 1s infinite;
	-moz-animation: up-right 1s infinite;
	-o-animation: up-right 1s infinite;
	animation: up-right 1s infinite;
}
