html,
body {
	height: 100vh;
	background-color: white;
	overflow: auto;
}

.App {
	background-color: white;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.top-bar {
	position: sticky;
	background-color: black;
	display: flex;
	flex-direction: row;
	position: sticky;
	align-items: center;
}

.logo {
	width: 10%;
	margin-left: clamp(0.75rem, 3vw, 3vh);
	align-items: center;
}

.logo img {
	height: clamp(0.75rem, 10vw, 10vh);
	width: clamp(0.75rem, 10vw, 10vh);
}

.echo-text {
	width: 80%;
	justify-content: center;
	display: flex;
	margin-right: clamp(0.75rem, 6vw, 6vh);
}

.echo-text img {
	width: clamp(0.75rem, 50vw, 40vh);
	height: clamp(0.75rem, 4vw, 4vh);
	justify-content: center;
}

.menu-icon {
	width: 10%;
	display: flex;
	color: white;
	justify-content: flex-end;
}

.menu-icon i {
	align-items: center;
	justify-content: flex-end;
	display: flex;
	padding-right: clamp(0.75rem, 8vw, 8vh);
}

.ellipsis-btn {
	font-size: clamp(1.5rem, 3vw, 3vh);
}

.drop-down {
	display: flex;
	flex-direction: column;
	background-color: black;
	padding-top: 20px;
	justify-content: flex-end;
	margin-right: clamp(0.5rem, 4.5vw, 4.5vh);
	position: absolute;
	top: 90%;
	align-items: center;
	width: clamp(3rem, 10vw, 10vh);
	z-index: 99 !important;
	box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
	border-radius: 5px;
}

.drop-down i {
	font-size: clamp(1.5rem, 4vw, 4vh);
	padding-left: clamp(0.5rem, 8.5vw, 8.5vh);
	padding-bottom: clamp(1rem, 3vw, 3vh);
	margin-top: clamp(1rem, 3vw, 3vh);
	display: flex;
	flex-direction: column;
}

.drop-down a {
	color: white;
}

.streambar {
	display: flex;
	flex-direction: row;
	align-items: center;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
	height: 40px;
}

.stream h1 {
	padding-top: clamp(0.1rem, 0.3vw, 0.3vh);
	font-size: clamp(0.75rem, 2vw, 2vh);
	padding-left: clamp(0.5rem, 2vw, 2vh);
}

.stream img {
	height: clamp(1rem, 2vw, 2vh);
	width: clamp(1rem, 2vw, 2vh);
}

.streambtn {
	position: relative;
	box-shadow: rgba(255, 255, 255, 0.2) 0px 0px 0px 1px inset,
		rgba(0, 0, 0, 0.9) 0px 0px 0px 1px;
	display: flex;
	flex-direction: row;
	flex-grow: 4;
	margin-right: 10px;
}

.player {
	display: flex;
	align-items: center;
	border: black;
	height: 30px;
	flex-grow: 4;
	border: none;
	outline: none;
	background: #111;
	cursor: pointer;
	position: relative;
	z-index: 0;
}

.stream-component,
.streambar,
.stream,
.top-bar,
.player {
	position: relative;
	width: 100%;
}

.player i {
	font-size: clamp(1rem, 2vw, 2vh);
	margin-bottom: 1px;
}

.text {
	display: flex;
	align-items: center;
}

.text p {
	padding-top: clamp(0.75rem, 2vw, 2vh);
	padding-left: 15px;
}

.live-text {
	font-size: clamp(0.75rem, 2vw, 2vh);
	padding-bottom: 3px;
}

.episodes {
}

.episodestogglebtn {
	justify-content: center;
	height: 100px;
	width: 100px;
}

.episodeContainer {
	height: 100vh;
}

.title {
	margin: 0;
	color: black;
}

/* Button glow */

.episodestogglebtn:before,
.player:before {
	content: '';
	background: linear-gradient(
		45deg,
		#ff0000,
		#ff7300,
		#fffb00,
		#48ff00,
		#00ffd5,
		#002bff,
		#7a00ff,
		#ff00c8,
		#ff0000
	);
	position: absolute;
	top: -2px;
	left: -2px;
	background-size: 400%;
	z-index: -1;
	filter: blur(5px);
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	animation: glowing 20s linear infinite;
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.episodestogglebtn:active,
.player:active {
	color: #000;
}

.episodestogglebtn:active:after,
.player:active:after {
	background: transparent;
}

.episodestogglebtn:hover:before,
.player:hover:before {
	opacity: 1;
}

.episodestogglebtn:after,
.player:after {
	z-index: -1;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	left: 0;
	top: 0;
}

@keyframes glowing {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

/* Red Dot Animation */
@keyframes up-right {
	0% {
		transform: scale(1);
		opacity: 0.25;
	}
	50% {
		transform: scale (1, 5);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0.25;
	}
}
.circle {
	margin-left: clamp(0.75rem, 2vw, 2vh);
	margin-right: clamp(0.75rem, 2vw, 2vh);
	border-radius: 50%;
	width: clamp(0.2rem, 1vw, 1.1vh);
	height: clamp(0.2rem, 1vw, 1.1vh);
	opacity: 0.25;
}
.red {
	background-color: red;
	-webkit-animation: up-right 1s infinite;
	-moz-animation: up-right 1s infinite;
	-o-animation: up-right 1s infinite;
	animation: up-right 1s infinite;
}
